@import url("https://fonts.googleapis.com/css?family=Raleway");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(white 2%, #85FF73 40%, #21E842 60%);
  font-family: Raleway;
  line-height: 2em;
  margin: auto;

}

nav {
  display: inline-block;
  float: right;
  text-align: center;
  font-size: 18px;
  margin-top: 180px;
  padding-left: 5px;
  width: 21%;
}

nav ul li {
  padding: 5px;
}

header {
  display: inline-block;
  float: left;
  font-size: 22px;
  padding: 10px;
  text-align: center;
  width: 75%;
}

#headerDiv #headerInstructions {
  text-shadow: 0 0 1px green;
}

section {
  background: white;
  display: inline-block;
  float: left;
  padding: 10px;
  width: 75%;
}

h1 {
  font-size: 36px;
  margin-bottom: 15px;
  text-shadow: 0 0 1px green;
}
 h2 {
   font-size: 22px;
   text-align: center;
}

footer {
  background: #21E842;
  clear: both;
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-right: 140px;
  text-align: center;
}

#aboutUsSection {
  border-radius: 25px;
  margin-top: 20px;
}
#wrapper {
  margin: 50px auto 0 auto;
  width: 660px;
}

#templatesSection {
  border-radius: 25px;
  margin-top: 20px;
}

#templatesInstructions {
  text-align: center;
}

#applyTemplateButton {
  margin: 5px;
  padding: 5px;
}

#templatesNextButton {
  margin: 5px;
  padding: 5px;
}
#templatesForm {
  padding: 3%;
}

#colorsSection {
  border-radius: 25px;
  margin-top: 20px;
}

#colorsInstructions {
  text-align: center;
}

.pageBottomButtons {
  text-align: center;
}

img {
  vertical-align: middle;
  margin-bottom: 10px;
}
