@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  color: #FFF;
  letter-spacing: 0.05em;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 900;
  color: #eee;
}

a:hover {
  color: #fff;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(#4ec3d8, #07a4c1) fixed;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  text-align: center;
  box-shadow: 0 3px 1px #222;
  z-index: 2;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 30px 45px;
  background: #000;
  font-size: 1.2em;
  text-shadow: 2px 2px 2px #333;
  transition: background 1s;
}

nav li:hover {
  background: #057287;
  cursor: default;
}

#homeLink {
  background: #333;
}

header {
  display: block;
  margin: 110px 50px 80px 50px;
  padding: 40px;
  line-height: 2em;
  text-align: center;
  cursor: default;
  overflow: auto;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  text-shadow: 2px 2px 4px #057287;
  padding: 10px 30px 30px 30px;
  animation-name: h1-animation;
  animation-duration: 3s;
  transition: transform 1s;
  white-space: nowrap;
}

h1:hover {
  transform: translate(10px, 0);
}

@keyframes h1-animation {
  from { opacity: 0; margin-right: 500px; }
  to { opacity: 1; margin-right: 0; }
}

header p {
  text-shadow: 2px 2px 3px #057287;
}

header p a:hover {
  cursor: auto;
}

header #headerNext {
  font-size: 1.2em;
  text-align: right;
  margin: 20px;
  text-shadow: 2px 2px 3px #057287;
}

section {
  position: relative;
  margin: 110px 50px 80px 50px;
  padding: 40px 50px;
  line-height: 2em;
  text-shadow: 1px 1px 3px #057287;
  overflow: auto;
  border-radius: 20px;
  opacity: 1.0;
}

h2 {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  padding-bottom: 40px;
  text-shadow: 2px 2px 4px #057287;
  animation-name: h2-animation;
  animation-duration: 1.5s;
  animation-delay: 1s;
  transition: transform 1s;
}

@keyframes h2-animation {
  from { margin-left: 500px; opacity: 0; }
  to { margin-left: 0px; opacity: 1; }
}

h2:hover {
  transform: translate(10px, 0);
}

img {
  border: solid 3px #fff;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 1s;
}

img:hover {
  opacity: 1.0;
}

#templatesForm {
  white-space: nowrap;
}

#templatesSection img {
  vertical-align: middle;
  width: 18%;
  height: auto;
  margin: 10px 30px 10px 10px;
  box-shadow: 1px 1px 2px #333;
}

#templatesSection img:hover {
  box-shadow: 2px 2px 2px #000;
}

button {
  margin: 30px 10px 10px 10px;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  border: solid 2px #000;
  background: #fff;
  color: #000;
  box-shadow: 2px 2px 2px #000;
}

button:hover {
  border: solid 2px #ededed;
  background: #000;
  color: #fff;
  box-shadow: 1px 1px 2px #333;
}

button:focus {
  outline: 0;
}

.pageBottomButtons {
  text-align: right;
}

#templatesSection #templatesNextButton {
  margin-right: 50px;
}

#colorsSection input, #backgroundsSection input {
  margin: 30px 10px 30px 0;
}

#colorsSection label, #backgroundsSection label {
  font-size: 1.4em;
  vertical-align: middle;
}

#colorsForm :nth-child(1) {
  margin-left: 0;
}

#colorsForm, #backgroundsForm {
  text-align: center;
}

input {
  border: solid 2px #000;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  background: #333;
  outline: 0;
}

.defaultColor {
  color: #b3edff;
}

.red {
  color: #ffb5c0;
}

.orange {
  color: #ffdcb4;
}

.yellow {
  color: #fffdb3;
}

.green {
  color: #e4ffb3;
}

.blue {
  color: #bfe8fc;
}

.purple {
  color: #e6ccff;
}

.defaultColor:hover, .red:hover, .orange:hover, .yellow:hover, .green:hover, .blue:hover, .purple:hover {
  color: #fff;
}

#aboutUsSection {
  text-align: justify;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  text-align: center;
  color: #8c8c8c;
  text-shadow: 1px 1px 1px #333;
  box-shadow: 0 -2px 1px #333;
  padding: 20px;
  z-index: 1;
  transition: color 1s;
}

footer:hover {
  cursor: default;
  color: #fff;
}

#colorsSection, #aboutUsSection, #templatesSection, #templatesInstructions, #colorsInstructions, #backgroundsSection {
  display: none;
}

#backgroundsInstructions {
  text-align: center;
}

.tab {
  display: none;
}

#navTab1 {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.colorMargin {
  margin: 0 20px;
}

.backgroundsMargin {
  margin: 0 40px 0 10px;
}

.backgroundsMargin:hover {
  color: #eee;
}

@keyframes slide-down {
  from { margin-top: -100%; }
  to { margin-top: 110px; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
