@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  color: #FFF;
  letter-spacing: 0.05em;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 900;
  color: #eee;
}

a:hover {
  color: #fff;
}

p {
  margin-bottom: 25px;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(#4ec3d8, #07a4c1) fixed;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #000;
  text-align: center;
  box-shadow: 0 3px 1px #222;
  z-index: 2;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

nav li {
  padding: 30px 71px;
  background: #000;
  font-size: 1.2em;
  text-shadow: 2px 2px 2px #333;
  transition: background 1s;
}

nav li:hover {
  background: #057287;
  cursor: default;
}

header {
  display: block;
  margin: 30px 30px 30px 290px;
  padding: 30px;
  line-height: 2em;
  text-align: center;
  cursor: default;
  overflow: auto;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  text-shadow: 3px 3px 3px #057287;
  padding: 10px 30px 30px 30px;
  animation-name: h1-animation;
  animation-duration: 3s;
  transition: transform 1s;
  white-space: nowrap;
}

h1:hover {
  transform: translate(10px, 0);
}

@keyframes h1-animation {
  from { opacity: 0; margin-right: 500px; }
  to { opacity: 1; margin-right: 0; }
}

header p {
  text-shadow: 2px 2px 3px #057287;
  margin: 20px;
}

header p a:hover {
  cursor: auto;
}


section {
  position: relative;
  margin: 30px 30px 30px 290px;
  padding: 30px;
  line-height: 2em;
  text-shadow: 1px 1px 3px #057287;
  overflow: auto;
  border-radius: 20px;
  opacity: 1.0;
  text-align: justify;
}


h2 {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  padding-bottom: 40px;
  text-shadow: 2px 2px 4px #057287;
  animation-name: h2-animation;
  animation-duration: 2.5s;
  transition: transform 1s;
}

@keyframes h2-animation {
  from { margin-left: 500px; opacity: 0; }
  to { margin-left: 0px; opacity: 1; }
}

h2:hover {
  transform: translate(10px, 0);
}

img {
  border: solid 3px #fff;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 1s;
  margin: 10px;
  box-shadow: 1px 1px 2px #333;
}

img:hover {
  opacity: 1.0;
}

button {
  margin: 30px 10px 10px 10px;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  border: solid 2px #000;
  background: #fff;
  color: #000;
  box-shadow: 2px 2px 2px #000;
}

button:hover {
  border: solid 2px #ededed;
  background: #000;
  color: #fff;
  box-shadow: 1px 1px 2px #333;
}

button:focus {
  outline: 0;
}

input {
  border: solid 2px #000;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  background: #333;
  outline: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  box-shadow: 0 -1px 2px #333;
  padding: 20px 20px 20px 310px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}

footer:hover {
  cursor: default;
  opacity: 1;
}

#link1Section, #link2Section {
  display: none;
}

#homeLink {
  background: #333;
}

@keyframes slide-down {
  from { margin-top: -100%; }
  to { margin-top: 30px; }
}
